<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Music Streaming Service</title>
</head>
<body>
    <h1>Here you'll be able to listen to the music. Maybe.</h1>
</body>
</html>